version: "3.8"
services:

  init-geth:
    image: ethereum/client-go:$GETH_VERSION
    container_name: geth-init
    volumes:
      - $EXECUTION_DATA_VOLUME:/execution_data
      - $CONFIGS_VOLUME:/configs
    command: >
      --datadir=/execution_data init /configs/genesis.json

  geth:
    image: ethereum/client-go:$GETH_VERSION
    container_name: geth
    depends_on:
      - init-geth
    volumes:
      - $EXECUTION_DATA_VOLUME:/execution_data
      - $CONFIGS_VOLUME:/configs
    restart: unless-stopped
    stop_signal: SIGINT
    stop_grace_period: 2m
    command: >
      --datadir=/execution_data
      --ws
      --ws.api "eth,net"
      --ws.addr 0.0.0.0
      --ws.origins "*"
      --http
      --http.api "eth,net"
      --http.addr "0.0.0.0"
      --http.corsdomain "*"
      --http.vhosts "*"
      --ipcdisable
      --authrpc.jwtsecret /configs/jwt.hex
      --bootnodes $EXECUTION_BOOTSTRAP_NODE_1
      --networkid $LUKSO_NETWORK_ID
      --verbosity $GETH_VERBOSITY
      --metrics
      --metrics.addr "0.0.0.0"
      --miner.gaslimit 42000000
      --miner.gasprice 1000000000
      --ethstats "${NODE_NAME}:${ETH_STATS_SECRET}@${ETH_STATS_ADDRESS}"
      --nat extip:$EXTERNAL_IP
    network_mode: host
    logging:
      driver: "local"
      options:
        max-size: "100m"

  teku:
    image: consensys/teku:$TEKU_VERSION
    container_name: teku
    volumes:
      - $CONSENSUS_DATA_VOLUME:/consensus_data
      - $CONFIGS_VOLUME:/configs
    restart: unless-stopped
    stop_signal: SIGINT
    stop_grace_period: 2m
    command: >
      --initial-state /configs/genesis.ssz
      --network /configs/config.yaml
      --checkpoint-sync-url $CHECKPOINT_SYNC_URL
      --ignore-weak-subjectivity-period-enabled
      --data-path /consensus_data
      --p2p-discovery-bootnodes $CONSENSUS_BOOTSTRAP_NODE_1
      --ee-endpoint http://localhost:8551
      --ee-jwt-secret-file /configs/jwt.hex
      --validators-proposer-default-fee-recipient $FEE_RECIPIENT
      --p2p-interface 0.0.0.0
      --p2p-port 9000
      --p2p-peer-lower-bound 0
      --p2p-peer-upper-bound 250
      --p2p-subscribe-all-subnets-enabled
      --metrics-enabled
      --metrics-interface 0.0.0.0
      --rest-api-enabled
      --rest-api-host-allowlist=*
      --rest-api-interface 0.0.0.0
      --rest-api-cors-origins=*
    network_mode: host
    logging:
      driver: "local"
      options:
        max-size: "100m"
